
/**
 * AppNexus logo.
 */

.logo[data-logo="AppNexus"] {
  width: 3.8153121406580364em;
}

.logo[data-logo="AppNexus"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="AppNexus"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="AppNexus"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}